.nav-wrapper {
    height: 130px;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-gap: 75px;
}

.nav-wrapper > .left-column > .banner-image {
    display: flex;
    justify-content: center;
}

.nav-wrapper > .left-column > .banner-image img {
    padding: 39px;
    height: 52px;
}

.nav-wrapper > .center-column > .navbar-wrapper > .navbar {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: -23px;
    color: #ffffff
}

.nav-wrapper > .center-column > .navbar-wrapper h2 {
    margin-bottom: 0;
    margin-top: 40px;
}

.nav-wrapper > .center-column > .navbar-wrapper > .navbar > .spark {
    color: gray;
}

.nav-wrapper > .center-column {
    margin-bottom: 10px;
    margin-top: -10px
}

.nav-wrapper > .right-column > .btn1 i {
    color: green;
    font-size: 1em;
    margin-top: -25px;
}

.nav-wrapper > .right-column {
    width: 650px;
    display: flex;
    justify-content: space-between;
    margin: 4px;
    margin-top: -5px;
}

.right-column > .search-icon i {
    margin: 15px;
    color: gray;
    font-size: 50px;
    margin-top: 44px;
}
